body {
  width: 100%;
  height: 100%;
  margin: 0;
 
  
}



#navbar{

  display: flex;
  justify-content: center;
 a{
  background-color: blueviolet;
  padding-left: 10px;
  padding-right: 10px;
 }

}

#featured-property{
figure{
display: flex;
justify-content: center;
}
figcaption{
text-align: center;
}
}



#details{
display: flex;
justify-content: space-between;
text-align: center;
background-color: aqua;


}